!!!html
%html
  %head
    = partial "/templates/meta", {:locals => {:title => data['title'].join(" ")}}
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:url", :content => "#{site_url}#{current_page.url}"}


    %meta{:property => "og:image", :content => "#{site_url}#{data['image']}"}

    %meta{:property => "og:description", :content => data['description']}
    %meta{:name => "description", :content => data['description']}

    / %meta{:property => "article:published_time", :content =>  "{{post.date }}"}
    / %meta{:property => "article:modified_time", :content =>  "{{ post.date }}"}
    %meta{:property => "article:section", :content =>  current_page.data['section']}

    - if data.has_key? 'tags'
      - data.tags.each do |tag|
        %meta{:property => "article:tag", :content => tag}

    %link{:href => "http://fonts.googleapis.com/css?family=Radley:400,400italic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie:400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "canonical", :href => "#{site_url}#{current_page.url}"}
  %body
    .banner
      - if data.has_key? 'banner'
        %img{:src => data['banner']}
      - else
        .solid
      %h1
        - data['title'].each do |word|
          %span= word
        - if data.has_key? 'lede'
          %p.lede= data['lede']
    .content
      %article.type-system-traditional
        = Tilt['markdown'].new { content }.render(scope=self)
        %hr
        - if data.has_key? 'canonical'
          %p
            %a{:href => data['canonical'], :rel => "canonical", :target => "_blank"}= "On Velocityraptors was first published in #{data['where']}."
    .header
      %h1 share this with someone
    .content
      .call-to-action
        .share-options
          .twitter
            %a{:href => "javascript:twitterShare('https://twitter.com/share?via=distributedlife&text=On velocityraptors&dnt=true')", :class => "twitter-share-button"}
              %img.flat{:width=>"64px", :height => "52px", :src => "/images/twitter.png"}
          .google
            %a{:href => "https://plus.google.com/share?url={#{site_url}#{current_page.url}}", :onclick => "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"}
              %img{:width=>"64px", :height => "64px", :src => "/images/googleplus.png", :alt => "Share on Google+"}
          .facebook
            %a{:href => "javascript:fbShare('#{site_url}#{current_page.url}', 'On Velocityraptors', 'Description', '/images/no-velocityraptor.png')"}
              %img{:width=>"64px", :height => "64px", :src => "/images/facebook.png", :alt => "Share on Facebook"}
          .email
            %a{:href => "mailto:?subject=I think you'll enjoy this post On Velocityraptors&body=#{site_url}#{current_page.url} I still remember the first time I was stalked by a velocityraptor. The team stood in a semicircle around the wall and we repeated our oaths: what we did today, tomorrow and were we blocked. Once again like every day this week I had something to say, I was blocked. One of the challenges I faced was dealing with integration testing. It was difficult to get the other team organised, involved or even interested."}
              %img{:width=>"64px", :height => "64px", :src => "/images/email.png", :alt => "Share via Email"}
    .header
      %h1 by
    .content
      .bio
        %a{:href => "/"}
          %img.avatar{:src => "/images/me.jpg"}
        %h1 Ryan Boucher
        %h2
          %a{:href => "http://twitter.com/distributedlife", :target => "_blank"} @distributedlife
    = partial "/templates/footer"
    = partial "/templates/analytics"
    :javascript
      function twitterShare(url) {
        var winTop = (screen.height / 2) - 350;
        var winLeft = (screen.width / 2) - 520;

        window.open(url, 'twitter share', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + 520 + ',height=' + 350);
      };

      function fbShare(url, title, descr, image) {
        var winTop = (screen.height / 2) - 350;
        var winLeft = (screen.width / 2) - 520;
        window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + 520 + ',height=' + 350);
      };