!!!html
%html
  %head
    = partial "/templates/meta", {:locals => {:title => data['title'].join(" "), :date => data['date']}}
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:url", :content => "#{site_url}#{current_page.url}"}
    %meta{:property => "og:image", :content => "#{site_url}#{data['image']}"}
    %meta{:property => "og:description", :content => data['description']}
    %meta{:name => "description", :content => data['description']}
    %meta{:property => "article:section", :content =>  data['section']}

    - if data.has_key? 'tags'
      - data.tags.each do |tag|
        %meta{:property => "article:tag", :content => tag}

    - if data.has_key? 'canonical'
      %link{:rel => "canonical", :href => data['canonical']}
    - else
      %link{:rel => "canonical", :href => "#{site_url}#{current_page.url}"}
  %body.food
    = partial "/templates/iconic"
    = partial "/templates/iconic-food"
    = partial "/templates/food/banner", {:locals => {:title => data['title'] }}
    = partial "/templates/food/content", {:locals => {:content => content}}
    .hessian
      = partial "/templates/share", {:locals => {:title => data['title'].join(" "), :brief => data['brief'], :image => data['image']}}
      = partial "/templates/footer"
      = partial "/templates/analytics"
    %script{:src => "/javascripts/share.js"}