!!!html
%html
  %head
    %meta{:content => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", 'initial-scale' => 1}
    %meta{:name => "description", :content => ""}
    %meta{:name => "robots", :content => "index, follow"}
    %title= "a distributed life: by Ryan Boucher"
    = stylesheet_link_tag "blog"
    %link{:rel => "alternate", :type => 'application/atom+xml', :title => "Atom feed", :href => "#{site_url}/rss"}
  %body
    = partial "/templates/bio"
    .header
      %h1 Recent Articles
    = partial "/templates/news", :locals => {:news => @recently, :show_link_to_all => true}
    .header
      %h1 Projects
    = partial "/templates/projects", :locals => {:projects => @projects}
    = partial "/templates/about"
    = partial "/templates/footer"