!!!html
%html
  %head
    = partial "/templates/meta", {:locals => {:title => "a distributed life: by Ryan Boucher", :date => Date.today}}
    %meta{:name => "og:image", :content => "/images/site/me.jpg"}
    %meta{:name => "description", :content => ""}
  %body
    = partial "/templates/bio"
    .header
      %h1 Recent News
    = partial "/templates/news", :locals => {:news => @recently, :show_link_to_all => true}
    .header
      %h1 My Projects
    = partial "/templates/projects", :locals => {:projects => @projects}
    = partial "/templates/about"
    = partial "/templates/footer"
    = partial "/templates/analytics"