!!!html
%html
  %head
    = partial "/templates/meta"
    %meta{:name => "description", :content => ""}
    %title= "a distributed life: by Ryan Boucher"
  %body
    = partial "/templates/bio"
    .header
      %h1 Recent Articles
    = partial "/templates/news", :locals => {:news => @recently, :show_link_to_all => true}
    .header
      %h1 Projects
    = partial "/templates/projects", :locals => {:projects => @projects}
    = partial "/templates/about"
    = partial "/templates/footer"