!!!html
%html
  %head
    = partial "/templates/meta", {:locals => {:title => "#{title} | distributedlife", :date => Date.today}}
    %meta{:name => "og:image", :content => "/images/me.jpg"}
    %meta{:name => "description", :content => "All the latest #{title.downcase}"}
  %body
    = partial "/templates/bio"
    .header
      %h1= title
    = partial "/templates/news", :locals => {:news => news, :show_link_to_all => false}
    = partial "/templates/about"
    = partial "/templates/footer"
    = partial "/templates/analytics"