!!!html
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", 'initial-scale' => 1}
    %meta{:name => "description", :content => ""}
    %meta{:name => "robots", :content => "index, follow"}
    %title= "a distributed life: by Ryan Boucher"
    = stylesheet_link_tag "blog"
    = javascript_include_tag "vendor/jquery.min", "vendor/jquery.unveil.min", "do-unveil", 'keymaster.min', 'gist-embed'
    %link{:rel => "alternate", :type => 'application/atom+xml', :title => "Atom feed", :href => "#{site_url}/rss"}
  %body
    = partial "/templates/bio"
    .header
      %h1= title
    = partial "/templates/news", :locals => {:news => news, :show_link_to_all => false}
    = partial "/templates/about"
    = partial "/templates/footer"